<!DOCTYPE html>
<html>
  <head>
    <title>radar - High level API and backend for writing web apps that use push messaging</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link type="text/css" rel="stylesheet" href="../assets/css/gh.css"/>
    <link rel="stylesheet" href="assets/css/style.css">
    <link type="text/css" rel="stylesheet" href="assets/css/prettify.css"/>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="assets/js/prettify.js"></script>

  </head>
<body onload="prettyPrint()">

  <div id="toc">
    <div id="toc-inner">
      <h4>Table of contents</h4>

      <a href="https://github.com/zendesk/radar" target="_blank">
        <h5>Full source code on Github</h5>
      </a>

      <a href="http://www.zendesk.com/company/careers?jvi=oHiWWfwB,Job" target="_blank">
        <h5>Zendesk is hiring Radar developers</h5>
      </a>

    </div>
  </div>

  <div id="wrapper">
    <div id="header">

    </div>

    <div class="clear"></div>
    <div id="main">
      <div id="content" class="post">

