
<div id="bottom_navi">
  <a href="{{prev}}.html"> &lt; &lt; Previous Chapter</a> | <a href="{{next}}.html">Next Chapter &gt; &gt;</a>
</div>

          </div>
        </div>
      </div>
      <div id="sidebar">
        <h3><a href="index.html">Home</a></h3>
        <h3><a href="{{prev}}.html">Previous Chapter</a></h3>
        <h3><a href="{{next}}.html">Next Chapter</a></h3>
      </div>
    <div class="clear">
    </div>

    <div id="footer">
      <p>CSS by <a href="http://mixu.net/">Mikito Takada</a>.</p>
    </div>
    </div>
  </div>


  </div>
</body>
</html>
