<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<style type="text/css">
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: normal;
  src: local('Droid Sans'), local('DroidSans'), url('DroidSans.woff') format('woff');
}
</style>
<link href='http://fonts.googleapis.com/css?family=Andika|Cantarell:400,700,400italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>
<script src="assets/jquery-1.6.1.min.js"></script>
<link type="text/css" rel="stylesheet" href="assets/style.css"/>
<link type="text/css" rel="stylesheet" href="assets/assert.css"/>
<link type="text/css" rel="stylesheet" href="assets/prettify.css"/>
<script type="text/javascript" src="assets/prettify.js"></script>
<!-- Script runner -->
<script type="text/javascript" src="assets/runner.js"></script>
  </head>
<body>
  <div id="wrapper">
    <div id="header">
    <!--
      <div id="brand">
        <h1>Mixu's Node book</h1>
        <span>A book about using Node.js</span>
      </div>
      <div id="navi">
        <form class="search" action="http://www.google.com/search">
          <input type="hidden" name="as_sitesearch" value="book.mixu.net">
          <input type="text" name="as_q" value="" class="search_field">
          <input type="submit" value="Search" class="search_btn">
        </form>
      </div>
      -->
    </div>
    <div class="clear">
      <hr>
    </div>

     <!-- Main -->

    <div id="main">
      <div id="container">
        <div id="content" class="post">

        {{content}}


<div id="bottom_navi">
  <a href="{{prev}}.html"> &lt; &lt; Previous Chapter</a> | <a href="{{next}}.html">Next Chapter &gt; &gt;</a>
</div>

          </div>
        </div>
      </div>
      <div id="sidebar">
        <h3><a href="index.html">Home</a></h3>
        <h3><a href="{{prev}}.html">Previous Chapter</a></h3>
        <h3><a href="{{next}}.html">Next Chapter</a></h3>
      </div>
    <div class="clear">
    </div>

    <div id="footer">
      <p>CSS by <a href="http://mixu.net/">Mikito Takada</a>.</p>
    </div>
    </div>
  </div>


  </div>
</body>
</html>
