<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<style type="text/css">
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: normal;
  src: local('Droid Sans'), local('DroidSans'), url('DroidSans.woff') format('woff');
}
</style>
<link href='//fonts.googleapis.com/css?family=Andika|Cantarell:400,700,400italic' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>
<script src="{{assetsRelative}}/jquery-1.6.1.min.js"></script>
<link type="text/css" rel="stylesheet" href="{{assetsRelative}}/style.css"/>
<link type="text/css" rel="stylesheet" href="{{assetsRelative}}/assert.css"/>
<link type="text/css" rel="stylesheet" href="{{assetsRelative}}/prettify.css"/>
<script type="text/javascript" src="{{assetsRelative}}/prettify.js"></script>
<!-- Script runner -->
<script type="text/javascript" src="{{assetsRelative}}/runner.js"></script>
  </head>
<body>
  <div id="wrapper">
    <div id="header">
    </div>
    <div class="clear">
      <hr>
    </div>

     <!-- Main -->

    <div id="main">
      <div id="container">
        <div id="content" class="post">

        {{content}}


<div id="bottom_navi">
  <a href="{{prev}}.html"> &lt; &lt; Previous Chapter</a> | <a href="{{next}}.html">Next Chapter &gt; &gt;</a>
</div>

          </div>
        </div>
      </div>
      <div id="sidebar">
        {{toc}}

      </div>
    <div class="clear">
    </div>

    <div id="footer">
      <p>CSS by <a href="http://mixu.net/">Mikito Takada</a>.</p>
    </div>
    </div>
  </div>


  </div>
</body>
</html>
